.spec-cont{
  display: flex;
  margin-top: 30px;
}

.spectrogram-btn {
  background-color: #000080;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: -4rem;
  text-align: center;
  width: 8rem;

}

.sliders-section {
  width: 50%;
}

.spectro-section {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
    height: 26rem;
}

