.spec-cont{
  display: flex;
  margin-top: 30px;
}

.spectrogram-btn {
    border-radius: 0.4rem;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 16px;
    width: 11rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1.5rem 0rem 1.5rem 1.5rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 1.5rem;
}

.spectrogram-btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 16px;
    right: -20px;
    transition: 0.5s;
  }

.spectrogram-btn:hover{
padding-right: 24px;
padding-left:8px;
}
.spectrogram-btn:hover:after {
    opacity: 1;
    right: 10px;
  }