
/* 
.radio-group {
    height: 2vh;
    display: flex;
    flex-direction: row;
}
.radio{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 10vh;
    color: white;

} */

.radio-group {
    margin-bottom: 2rem;
}