body {
  background-image: linear-gradient(#8693AB, #BDD4E7);
  font-family: 'Poppins', sans-serif;
  font-size: 16.5px;
  font-weight: bold;
}

img {
  width: 58rem;
  margin-left: 24rem;
  border: 2px solid #000080;
  padding: 0px;
	
}
label {
  margin-right: 0rem;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000080;
  border-radius: 10px;
}

/* body {
  background: -webkit-gradient(linear, left top, left bottom, from(#0D324D), to(#7F5A83)) fixed;
}

.slider-container{
  width: 0px;
  display: flex;
  flex-direction: row;
  margin-left: 45rem;
  margin-top: 2rem;
}

.slider-container .slider {
  flex-direction: row;
  z-index: 3;
  -webkit-appearance: none;
  margin-left: -7rem;
  width: 20rem;
  height: 1rem;
  transform: rotate(-90deg) translate(-50%, -50%);
  transform-origin: 0 0;
  background-color: rgba(0, 0, 0 , .1) ;
}

.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border:  8px solid #3e3e3e;
  border-radius: 15px;
  background-color: #ffe53b;
  box-shadow: 0 0 5px rgba(0, 0, 0 , .5);
  cursor: pointer;
  transition: .3s ease-in-out;
}
 */

 .sliders-modes-container {
  width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .sliders-container {
  display: flex;
  justify-content: center;
  width: 100%;
 }

 .slider-label {
    text-align: center;
    margin-left: 75px;
 }

 .slider-modes {
  transform: rotate(-90deg);
  margin-top: 11rem;
  width: 20rem;
  margin-left: -5rem;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  background: white; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

 }

 /* Mouse-over effects */
.slider-modes:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider-modes::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #000080; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider-modes::-moz-range-thumb {
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: #000080; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
 .momen {
  display: flex;
    flex-direction: column;
    width: 4rem;
 }

 .play-btn {
  border-radius: 0 rem;
  background-color: #000080;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 9px;
  width: 5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4rem 0rem 1.5rem 1.5rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 1.5rem;
  border-radius: 15px;
  margin-top: 170px;
}


