.upload-btn {
    border-radius: 0 rem;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 16px;
    width: 8rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3rem 0rem 2rem 1.5rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 1.5rem;
}

.upload-btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }

.upload-btn:hover{
padding-right: 24px;
padding-left:8px;
}
.upload-btn:hover:after {
    opacity: 1;
    right: 10px;
  }
.upload-audio{
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: -2rem;
}

